<div class="ProblemasMain">
  <div class="Datos-Problema">
    <div class="Titulo-Problema">{{problema.id}}. {{problema.nombre}}</div>
    <div class="Enunciado-Problema" *ngFor="let enunciado of problema.enunciado">{{enunciado}}<br></div>
    <br>
    <div class="texto-enunciado">
      <div *ngFor="let e of problema.ejemplos;let i=index"><b>Ejemplo {{i + 1}}</b><br>
      <div class="ejemplo-caja">
        <p class="ejemplo-texto"><b class="subtitulo">Input: </b>  {{e.input}}</p>
        <b class="subtitulo">Output:  </b>  {{e.output}}
      </div>
      <br>
      </div>
    <br>
    <br>
    </div>
  </div>
  <div class="Panel-derecho">
    <div class="Monaco-ide box-borders">
      <ngx-monaco-editor class="my-code-editor"  [options]="editorOptions" [(ngModel)]="code" (onInit)="onInit($event)"></ngx-monaco-editor>
    </div>
    <div class="Panel-derecho-inferior box-borders">
      <button id="run-text" (click)="onInit(editor)">pulsar</button>
    </div>

  </div>

</div>
<style>
  .ejemplo-texto{
    font-size: 1vw;
    margin-bottom: 0px;
  }
  .subtitulo{
    font-size: 1vw;
  }
  .ejemplo-caja{
    background-color: #04445e;
    margin-top: 2%;
    padding:  2%;
    padding-left: 7% !important;
  }
  .Enunciado-Problema{
    word-wrap: break-word;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 0.8vw;
  }
  .texto-enunciado{
    padding-left: 5%;
    padding-right: 5%;
  }
  .ProblemasMain > div{
    color: whitesmoke;
  }
  .Titulo-Problema{
    font-size: 2em;
    text-align: left;
    margin-left: 5%;
  }
  .Panel-derecho-inferior{
    align-content: center;
    background: #02203c;
    margin-top: 0% !important;
    margin-left: 0.3vw;
    margin-right: 10px;
    height: 80%;
  }
  .box-borders{
    margin-right: 10px;
    margin-top: 10px;
  }
  .Panel-derecho{
    margin-left: 0.3vw;
    display: grid;
    grid-template-rows: 90% 10%;
  }
  .ProblemasMain{
    display: flex;
    justify-content: center;
    width: 100%;
    height: inherit;
    background: rgba(7, 58, 116, 0.96);
    padding-top: 0.5vh;
  }
  #run-text{
    color: whitesmoke;
    width: 5vw;
    background-color: #062c33;
  }
  .Datos-Problema{
    margin-left: 0.3vw;
    width: 30vw;
    background: #02203c;
    display: inline;
    padding-right: 0.5vw;
    margin-bottom: 1%;
    overflow: auto;

  }
  .Monaco-ide{
    width: 70vw;
    height: inherit;
    display: inline;
    margin-left: 0.3vw;

  }
</style>

